extends layout

block content
  <h2> Details</h2>

  <div class="container">
    <div class="row">
      <div class="col"> 
        <ul class="list-unstyled">
          <li>Таганка:
            <ul>
              <li>Hot drinks</li>
              <li>Food</li>
              <li>Premium</li>
            </ul>
          </li>
          <li>Марскисткая, 5</li>
      </div>
      <div class="col"> 
        <ul class="list-unstyled">
          <li>Reviews:
            <ul>
              <li>Review 1</li>
              <li>Review 2</li>
              <li>Review 3</li>
            </ul>
          </li>
          <li><a class="btn btn-primary" href="/locations/review/new" role="button"> Add review</a></li>
      </div>
    </div>
  </div>